# 1. Ignore everything in the root by default
/*

# 2. Whitelist gitignore itself
!.gitignore

# 3. Core root directories & all nested contents
!/admin/
!/admin/**

!/includes/
!/includes/**

# 4. Core root PHP files
!/ajax.php
!/auth.php
!/db.php
!/index.php
!/install.php
!/qp-cron.php

# 5. Whitelist root/content/themes/default
!/content/
/content/*
!/content/themes/
/content/themes/*
!/content/themes/default/
!/content/themes/default/**

# 6. Whitelist root/content/plugins/example-plugin
!/content/plugins/
/content/plugins/*
!/content/plugins/example-plugin/
!/content/plugins/example-plugin/**

# 6. Whitelist root/uploads/default-avatar.png
!/uploads/
/uploads/*
!/uploads/default-avatar.png